

.template{
    display: grid;
    height: 300px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    
}

.video-box{
    display: grid;
    width: 100%;
   
}

.thumbnail{
    height: 210px;
    width: 100%;
}

.profile{
    height: 90px;
    width: 100%;
    padding-top: 10px;
}

.author{
    height: 70px;
}
